@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

:root {
  --orange-color: rgb(235,109, 74);
  --brown-color: rgb(84,62, 54);
  --white-color: rgb(231,236, 242);
  --gray-color: rgb(199,212, 226);
  --yellow-color: rgb(236,193, 156);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--brown-color);

}

.header {
  max-width: 100%;
  background-color: var(--orange-color);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: 3vw;
  font-size: calc(20px + 5vw);
  color: var(--white-color);
}

.header__nav {
  padding: 2rem;
}

.header__ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.header__link {
  font-size: 1.2rem;
  color: var(--white-color);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 300ms linear;
}

.header__link:hover {
  color:rgb(84,62, 54);
}

.main {
  max-width: 75%;
  margin: 0 auto;
}

/* h1 {
  color: var(--white-color);
} */