@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

:root {
  --orange-color: rgb(235,109, 74);
  --brown-color: rgb(84,62, 54);
  --white-color: rgb(231,236, 242);
  --gray-color: rgb(199,212, 226);
  --yellow-color: rgb(236,193, 156);
  --blue-color: cornflowerblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--brown-color);

}

/*-------- general ---------------*/

.sections-title {
  margin: 5vh 0;
  font-size: calc(24px + 2vw);
  font-weight: 400;
  color: var(--white-color);
}

.section {
  border-bottom: 4px solid var(--orange-color);
}

.links {
  font-weight: 400;
  color: var(--blue-color);
}

/*-------- header -----------*/

.header {
  max-width: 100%;
  background-color: var(--orange-color);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: 3vw;
  font-size: calc(20px + 5vw);
  color: var(--white-color);
}

.header__nav {
  padding: 2rem;
}

.header__ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.header__link {
  font-size: 1.2rem;
  color: var(--white-color);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 300ms linear;
}

.header__link:hover {
  color:rgb(84,62, 54);
}

.main {
  max-width: 60%;
  margin: 0 auto;
}

/*----- contacts ------------------*/

.contacts {
  display: flex;
}

.contacts__user {
  /* width: 50%; */
}

.contacts__avatar {
  margin-top: 5vh;
  height: auto;
  width: 100%;
  max-width: 307px;
}

.contacts__name {
  margin: 5vh 0;
  font-size: calc(20px + 2vw);
  color: var(--yellow-color);
}

.contacts__info {
  margin-left: 7vw;
}

.contacts__ul {
  list-style: none;
}

.contacts__item {
  font-size: calc(20px + 0.5vw);
  color: var(--white-color);
  font-weight: 300;
  margin-bottom: 2vh;
}

.contacts__value {
  font-weight: 400;
  color: var(--yellow-color);
}

